  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Montserrat", sans-serif;
  }

  .contenedor {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .card {
    width: 320px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: solid 0.5px #cbc3c3;
    display: inline-block;
  }

  .card img {
    display: block;
    max-height: 280px;
    margin: 16px auto;
    filter: drop-shadow(2px 0px 8px #515151);
  }

  .card h2 {
    margin-top: 2px;
    margin-bottom: 8px;
    color: #373737;
    text-align: center;
  }

  .card p {
    font-size: 16px;
    color: #515151;
    text-align: center;
  }

  .p1 {
    background-color: coral;
  }

  .p2-1 {
    background-color: rgb(55, 22, 11);
  }

  .p2-2 {
    background-color: rgb(33, 11, 33);
  }

  .p2-3 {
    background-color: rgb(44, 55, 88);
  }

  .p2-4 {
    background-color: rgb(66, 44, 99);
  }

  .p2-5 {
    background-color: rgb(25, 68, 31);
  }

  .p3 {
    background-color: rgba(196, 70, 70, 0.5);
  }

  .p4 {
    background-image: url(characters/rct.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .p5 {
    background-image: url(characters/rct.jpg);
    background-repeat: no-repeat;
    background-position: right;
  }

  .p6 {
    background-image: url(characters/rct.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20cm;
  }

  .p7 {
    background-image: url(characters/rct.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

  }

  .p8 {
    background: linear-gradient(to right, green, yellow, blue, red, black);

  }

  .p9 {
    background: radial-gradient(ellipse at center, green, yellow, blue, red, black)
  }

  .p10 {
    text-transform: uppercase;
    letter-spacing: 0.5cm;
    text-shadow: 2px 2px 3px #d40909;
  }

  .p11 {
    font-family: 'Bitcount Single Ink', sans-serif;
    font-size: 40px;
  }

  .p12 {
    font-size: 40px;
    font-style: italic;
    font-weight: 900;

  }

  .p13 p {
    font-size: 2rem;
  }

  .p14 {
    margin: 3em !important;
    /* fuerza el cambio */
    padding: 3em !important;
  }

  .p15 .px {
    font-size: 16px;
    /* tamaño fijo */
    margin-bottom: 0.5em;
  }

  .p15 .em {
    font-size: 1em;
    /* relativo al contenedor -> 20px */
    margin-bottom: 1em;
  }

  .p15 .rem {
    font-size: 1rem;
    /* relativo al html -> 16px */
    margin-bottom: 1em;
  }

  .contenedor3 {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    padding: 1vh;
    overflow-y: auto;
    margin: 2vh auto;
    background-color: rgba(185, 30, 30, 0.2);
    /* temporal para ver cambios */
  }


  .p17 {


    width: 80%;
    /* ancho del contenedor */
    margin: 0 auto;
    /* centra la imagen */
    text-align: center;



    max-width: 100%;
    /* no excede el ancho del contenedor */
    height: auto;
    /* mantiene la proporción */
    border-radius: 8px;
    /* opcional, bordes redondeados */
    display: block;
    margin: 0 auto;
    /* centra la imagen horizontalmente */

  }

  .p18 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* recorta y llena la card sin deformar */
    border-radius: 8px;
  }